*{
    box-sizing: border-box;
}
body {
    background-color: #21286b;
    color: white;
    font-family: Arial;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80vh;
    margin: 0;
    overflow: hidden;
}

h1 {
    margin: 20px 0 0;
}

p {
    color: white;
    font-size: 15px;
}

.figure-container {
    fill: transparent;
    stroke: white;
    stroke-width: 4px;
    stroke-linecap: round;
}